.cart {
  width: 300px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  height: 100vh;
  background-color: #c8b7bf;
  transform: translateX(100%);
  transition: transform 0.3s;
}
.cartTitle {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: rgb(52, 51, 51);
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.cartTitle .backbutton {
  position: absolute;
  left: 20px;
  font-weight: bold;
  font-size: 25px;
}
.cartTitle .backbutton:hover {
  cursor: pointer;
}
.cart.visible {
  transform: translateX(0);
}
.cartbackground{
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0);
  width:100vw;
  height:100vh;
  z-index:4;
  pointer-events:none;
  transition:background-color 0.3s;
}
.cartbackground.visible{
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.513);
}
.cart h2 {
  text-align: center;
}
.cartProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:75vh;
  overflow-y: auto;
}
.cart .product {
  margin-top: 20px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  "img name "
  "img price"
  "img control";
}
.cart .product > * {
  margin: 5px;
}
.productName{
    font-weight:bolder;
    grid-area:name;
}
.productPrice{
    grid-area:price
}
.cart img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  grid-area:img;
  align-self: center;
}
.quantityControl {
  display: flex;
  justify-content: space-between;
  width: 100px;
  grid-area:control
}
.quantityControl button {
  width: 30px;
  background-color: rgb(52, 51, 51);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
.quantityControl button:hover {
  cursor: pointer;
}
.cart .totalContainer{
    display:flex;
    height:3vh;
    justify-content:center;
    margin-top: 20px;
    align-items:center;
}
.cart .totalLabel{
    font-weight: bold;
}
.cart .cartButtons{
  height: 12vh;
  display:flex;
  width:100%;
  justify-content: space-around;
  margin-top: 15px;
}
.cartButtons button{
  width: 43%;
  height: 50px;
  font-size: 15px;
  background-color: rgb(52, 51, 51);
  color:white;
  font-weight:bold;
  border:none;
  transition:transform 0.3s;
}
.cartButtons button:hover{
  cursor: pointer;
  transform:scale(1.1);
}
