#topmenu {
    width: 90%;
    
    height: 50px;
    padding: 0;
    margin: 20px auto;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

#topmenu  .bar {
    width: 40%;
    background-color: white;
    padding-left: 20px;
}

#topmenu .bar input.search {
    height: 50%;
    width: 25%;
    padding: 5px;
    border-bottom: 1px solid black;
}

i.fa-solid.fa-magnifying-glass {
    background-color: white;
    width: 20px;
}

input.search {
    border: none;
}

#topmenu .rightbar {
    display: flex;
}

#topmenu .rightbar .user-login{
    padding-right: 30px;
    text-decoration: none;
    color:black;
}
#topmenu .rightbar .cartIcon {
    padding-right: 30px;
}
#topmenu .rightbar .cartIcon:hover {
    cursor:pointer;
}
.navbar {
	margin: 0px;
	padding: 0px;
}

.navbar ul{
    width:100%;
    list-style: none;
	display: flex;
	justify-content: center;
}

.navbar ul li {
    display:flex;
    justify-content: center;
    margin:30px;
}

.navbar ul li a{
    text-decoration: none;
	font-size: 22px;
	color: black;
    text-align:center;
}

.navbar ul li a:hover{
    color: #c8b7bf;
}

