.checkoutForm {
  display: grid;
  justify-items: stretch;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(2,50%);
  grid-template-areas:
    "firstnameLabel lastnameLabel"
    "firstname lastname"
    "emailLabel emailLabel"
    "email email"
    "countryLabel cityLabel"
    "country city"
    "addressLabel addressLabel"
    "address address"
    "phoneLabel postalCodeLabel"
    "phone postalCode"
    "cardNameLabel cardNameLabel"
    "cardName cardName"
    "cardNumberLabel cardNumberLabel"
    "cardNumber cardNumber"
    "expiryDateLabel securityCodeLabel"
    "expiryDate securityCode"
    "btnCheckout btnCheckout";
  width: 40%;
  margin:40px auto ;
}
#firstname {
  grid-area: firstname;
}
#firstnameLabel {
  grid-area: firstnameLabel;
}
#lastname {
  grid-area: lastname;
}
#lastnameLabel {
  grid-area: lastnameLabel;
}
#email {
  grid-area: email;
}
#emailLabel {
  grid-area: emailLabel;
}
#phone {
  grid-area: phone;
}
#phoneLabel {
  grid-area: phoneLabel;
}
#country {
  grid-area: country;
}
#countryLabel {
  grid-area: countryLabel;
}
#city {
  grid-area: city;
}
#cityLabel {
  grid-area: cityLabel;
}
#address {
  grid-area: address;
}
#addressLabel {
  grid-area: addressLabel;
}
#postalCode {
  grid-area: postalCode;
}
#postalCodeLabel {
  grid-area: postalCodeLabel;
}
#cardName {
  grid-area: cardName;
}
#cardNameLabel {
  grid-area: cardNameLabel;
}
#cardNumber {
  grid-area: cardNumber;
}
#cardNumberLabel {
  grid-area: cardNumberLabel;
}
#expiryDate {
  grid-area: expiryDate;
}
#expiryDateLabel {
  grid-area: expiryDateLabel;
}
#securityCode {
  grid-area: securityCode;
}
#securityCodeLabel {
  grid-area: securityCodeLabel;
}
#btnCheckout {
  grid-area: btnCheckout;
  width: 200px;
  justify-self: center;
  font-size: 25px;
  color: white;
  background-color: rgb(52, 51, 51);
  padding: 10px;
}

input {
  height: 45px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

select {
  height: 45px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border-bottom-width: 2px;
}
