<div>
    <input  id="firstname" type="text" />
    <input id="lastname" type="text"/>
    <input id="email" type="email"/>
    <input id="phone" type="phone"/> 
    <select id="country" ng-model="country"></select>   
    <select id="city" ng-model="city"></select>
    <input id="address" type="text" ng-model="address"/>
    <input id="postalCode" type="text" ng-model="postalCode"/>
    <input id="cardNumber" type="text" ng-model="cardNumber"/>
    <input id="cardName" type="text" ng-model="cardName"/>
    <input id="expiryDate" type="text" ng-model="expiryDate"/>
    <input id="securityCode" type="text" ng-model="securityCode"/>
    <button>Place Order</button>
    <!-- 
        firstname
        lastname
        email
        phone
        country
        city
        address
        postal code
        card number
        card name
        expiry date
        security code
     -->
</div>